{% extends 'base.html.twig' %}

{% block title %}Hello EtablissementController!{% endblock %}

{% block body %}







    <h1 class="text-center m-5 text-decoration-underline">Liste des établissements actifs</h1>

    <div class="container ">
        <div class="row">
        {% for etablissement in etablissements %}
            <div class="col-md-4">
        <div class="card m- mb-5 text-center "  >
            {% if etablissement.image is null %}
            <img src="https://www.genifoncier.com/assets/images/no_image.jpg" class="card-img-top" alt="..." >
            {% else %}
                <img src="{{ etablissement.image }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ etablissement.nom}}</h5>
                <p class="card-text">{{ etablissement.description[:75]}} ...  </p>
                <p class="card-text">Ville : {{ etablissement.ville.nom}} {{ etablissement.ville.codePostal}} </p>
                <p class="card-text">
                {% for categorie in etablissement.categorie %}

                        <span class="badge bg-success text-warp">{{ categorie.nom }}</span>

                {% endfor %} </p>

                <button><a href="{{ path('app_etablissement_slug',{slug : etablissement.slug}) }}" class="" style="text-decoration: none; color: slategray">plus d'info </a></button>
            </div>
        </div>
        </div>
        {% endfor %}
        </div>
    </div>









    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(etablissements) }}
    </div>
{% endblock %}
